---
interface Props {
  blobName: string;
  description: string;
  caption: string;
}

const { blobName, description, caption } = Astro.props;

const publicImageUrl = import.meta.env.PUBLIC_CDN_BASE_URL;
const src = `${publicImageUrl}/blog/${blobName}`;

const isImage = () => {
  const imageExtensions = [".jpg", ".jpeg", ".png", ".webp", ".gif"];
  return imageExtensions.some((ext) => blobName.toLowerCase().endsWith(ext));
};

const isVideo = () => {
  const videoExtensions = [".mp4", ".webm", ".ogg"];
  return videoExtensions.some((ext) => blobName.toLowerCase().endsWith(ext));
};
---

<div
  style="display: flex; flex-direction: column; align-items: center; gap: 0.5rem; font-size: 0.75em;"
>
  {
    isImage() && (
      <img style="max-width: 100%; width=100%" alt={description} src={src} />
    )
  }
  {
    isVideo() && (
      <video
        style="max-width: 100%; width=100%"
        autoplay
        loop
        muted
        src={src}
        controls
      />
    )
  }
  <span style="color: rgb(var(--gray))">{caption}</span>
</div>

<style></style>
