---
interface Props {
  index: number;
}

const { index } = Astro.props;

const referenceLink = `#reference${index}`;
const contentName = `reference-content${index}`;
---

<sup>
  <a href={referenceLink} name={contentName}>
    [{index}]
  </a>
</sup>

<style></style>
